pipeline/PIP_SME_DWH_MART.json
{
	"name": "PIP_SME_DWH_MART",
	"properties": {
		"activities": [
			{
				"name": "AllSMEToOneFile",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@variables('FolderName')",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SRC_SSUPERSET",
						"type": "DatasetReference",
						"parameters": {
							"filename": "*.*",
							"FolderName": {
								"value": "@variables('FolderName')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "TGT_SSUPERSET",
						"type": "DatasetReference",
						"parameters": {
							"OutputFileName": "SME.csv",
							"OutputFolderName": {
								"value": "@variables('FolderName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "DF_SME_DIM_ENTITY",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "AllSMEToOneFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DF_SME_DIM_ENTITY",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					}
				}
			}
		],
		"variables": {
			"FolderName": {
				"type": "String",
				"defaultValue": "SME"
			}
		},
		"folder": {
			"name": "CuratedToDim"
		},
		"annotations": []
	}
}