ADF-DEV-TESTGITNEW/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-DEV-TESTGITNEW"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DF_SME_FACT_PROJECT_EVENTS_INDIVIDUAL')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "SME_DWHToMART"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "TGT_SME",
								"type": "DatasetReference"
							},
							"name": "SRCSME"
						},
						{
							"dataset": {
								"referenceName": "Master_DIM_AREA_OF_CHANGE",
								"type": "DatasetReference"
							},
							"name": "DIMAREAOFCHANGE"
						},
						{
							"dataset": {
								"referenceName": "Master_DIM_DATE",
								"type": "DatasetReference"
							},
							"name": "DIMDATE"
						},
						{
							"dataset": {
								"referenceName": "Master_DIM_CONTEXT_SUB_TYPE",
								"type": "DatasetReference"
							},
							"name": "DIMCONTEXTSUBTYPE"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_COURSE",
								"type": "DatasetReference"
							},
							"name": "DIMCOURSE"
						},
						{
							"dataset": {
								"referenceName": "Master_DIM_COUNTRY",
								"type": "DatasetReference"
							},
							"name": "DIMCOUNTRY"
						},
						{
							"dataset": {
								"referenceName": "Master_DIM_ENTITY_SIZE_GROUP",
								"type": "DatasetReference"
							},
							"name": "DIMENTITYSIZEGROUP"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_ENTITY",
								"type": "DatasetReference"
							},
							"name": "DIMENTITY"
						},
						{
							"dataset": {
								"referenceName": "Master_DIM_ENTITY_SUB_TYPE",
								"type": "DatasetReference"
							},
							"name": "DIMENTITYSUBTYPE"
						},
						{
							"dataset": {
								"referenceName": "Master_DIM_ENTITY_TYPE",
								"type": "DatasetReference"
							},
							"name": "DIMENTITYTYPE"
						},
						{
							"dataset": {
								"referenceName": "Master_DIM_GENDER",
								"type": "DatasetReference"
							},
							"name": "DIMGENDER"
						},
						{
							"dataset": {
								"referenceName": "Master_DIM_PLATFORM_TYPE",
								"type": "DatasetReference"
							},
							"name": "DIMPLATFORMTYPE"
						},
						{
							"dataset": {
								"referenceName": "Master_DIM_PROFESSIONAL_STATUS",
								"type": "DatasetReference"
							},
							"name": "DIMPROFESSIONALSTATUS"
						},
						{
							"dataset": {
								"referenceName": "Master_DIM_PROJECT",
								"type": "DatasetReference"
							},
							"name": "DIMPROJECT"
						},
						{
							"dataset": {
								"referenceName": "Master_DIM_SERVICE_THEME",
								"type": "DatasetReference"
							},
							"name": "DIMSERVICETHEME"
						},
						{
							"dataset": {
								"referenceName": "Master_DIM_SOURCE",
								"type": "DatasetReference"
							},
							"name": "DIMSOURCE"
						},
						{
							"dataset": {
								"referenceName": "Master_DIM__AGE_GROUP",
								"type": "DatasetReference"
							},
							"name": "DIMAGEGROUP"
						},
						{
							"dataset": {
								"referenceName": "MART_DIM_PARTICIPANT",
								"type": "DatasetReference"
							},
							"name": "DIMPARTICIPANT"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "FACT_PROJECT_EVENTS_INDIVIDUAL",
								"type": "DatasetReference"
							},
							"name": "FACTPROJECTEVENTSINDIVIDUAL"
						}
					],
					"transformations": [
						{
							"name": "SelectAREAOFCHANGE"
						},
						{
							"name": "LookUpAreaofChange"
						},
						{
							"name": "SelectCertificationDate"
						},
						{
							"name": "LookUpDimDate"
						},
						{
							"name": "SelectContextSubType"
						},
						{
							"name": "LookupContextSubType"
						},
						{
							"name": "SelectCourse"
						},
						{
							"name": "LookupCourseName"
						},
						{
							"name": "SelectDateofDataCollection"
						},
						{
							"name": "SelectDateOfBirth"
						},
						{
							"name": "SelectEnrollDate"
						},
						{
							"name": "LookupEnrollDate"
						},
						{
							"name": "SelectEntityCountry"
						},
						{
							"name": "LookupEntityCountry"
						},
						{
							"name": "SelectEntitySize"
						},
						{
							"name": "LookupEntitySize"
						},
						{
							"name": "SelectDimEntity"
						},
						{
							"name": "LookupEntityname"
						},
						{
							"name": "SelectEntitySubType"
						},
						{
							"name": "LookupEntitySubType"
						},
						{
							"name": "SelectEntityType"
						},
						{
							"name": "LookupEntityType"
						},
						{
							"name": "SelectGender"
						},
						{
							"name": "LookupGender"
						},
						{
							"name": "SelectHomeCountry"
						},
						{
							"name": "LookupHomeCountry"
						},
						{
							"name": "SelectPlatformType"
						},
						{
							"name": "LookupPlatformType"
						},
						{
							"name": "SelectProfessionalStatus"
						},
						{
							"name": "LookupProfessionalStatus"
						},
						{
							"name": "SelectProject"
						},
						{
							"name": "LookupProjectID"
						},
						{
							"name": "SelectServiceTheme"
						},
						{
							"name": "LookupServiceTheme"
						},
						{
							"name": "LookupDateCollection"
						},
						{
							"name": "LookupDateOfBirth"
						},
						{
							"name": "SelectSourceFileName"
						},
						{
							"name": "LookupSourceFileName"
						},
						{
							"name": "SelectAGELIMIT"
						},
						{
							"name": "LookupAGELIMIT"
						},
						{
							"name": "SelectUniqueParticipant"
						},
						{
							"name": "LookupUniqueParticipant"
						},
						{
							"name": "runinfo"
						}
					],
					"script": "source(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of tool} as string,\n\t\t{Area of change} as string,\n\t\t{Service themes} as string,\n\t\t{Date of data collection} as string,\n\t\tid as string,\n\t\tCourse_name as string,\n\t\tUsername as string,\n\t\tEmail as string,\n\t\t{Phone number} as string,\n\t\tTitle as string,\n\t\t{First name} as string,\n\t\t{Middle name} as string,\n\t\t{Last name} as string,\n\t\tidnumber as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\t{Organization/ Company name} as string,\n\t\t{Type of entity} as string,\n\t\t{Sub-type of entity} as string,\n\t\t{Professional status} as string,\n\t\tFunctional_title as string,\n\t\tHowlong as string,\n\t\tPriorexperience as string,\n\t\tAddress as string,\n\t\tCityname as string,\n\t\tCountry as string,\n\t\t{Country code} as string,\n\t\tPobox as string,\n\t\tPostalcode as string,\n\t\tNationality as string,\n\t\tSkype as string,\n\t\tAim as string,\n\t\tYahoo as string,\n\t\tMsn as string,\n\t\tProfile_field_Supervisor as string,\n\t\t{Service theme} as string,\n\t\tCityregion as string,\n\t\t{Job title} as string,\n\t\tSize as string,\n\t\tCertification_date as string,\n\t\tCertified as string,\n\t\tCohort as string,\n\t\tUniqueid as string,\n\t\tUser_id as string,\n\t\tEnrol_time as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> SRCSME\nsource(output(\n\t\tAREA_OF_CHANGE_SR_KEY as integer,\n\t\tAREA_OF_CHANGE_CODE as string,\n\t\tAREA_OF_CHANGE_DESC as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMAREAOFCHANGE\nsource(output(\n\t\tDATE_SR_KEY as integer,\n\t\tDATE_TIME as timestamp,\n\t\tDAY_OF_MONTH as integer,\n\t\tCALENDER_MONTH_NAME as string,\n\t\tCALENDER_MONTH_ID as integer,\n\t\tCALENDER_YEAR as integer,\n\t\tCALENDER_QUARTER_ID as string,\n\t\tCALENDER_QUARTER_NAME as string,\n\t\tCALENDER_HALF_YEAR_ID as string,\n\t\tCALENDER_HALF_YEAR_NAME as string,\n\t\tFISCAL_MONTH_ID as string,\n\t\tFISCAL_MONTH_NAME as string,\n\t\tFISCAL_QUARTER_ID as string,\n\t\tFISCAL_QUARTER_NAME as string,\n\t\tFISCAL_HALF_YEAR_ID as string,\n\t\tFISCAL_HALF_YEAR_NAME as string,\n\t\tFISCAL_YEAR as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMDATE\nsource(output(\n\t\tCONTEXT_SUB_TYPE_SR_KEY as integer,\n\t\tCONTEXT_TYPE_CODE as string,\n\t\tCONTEXT_TYPE_DESC as string,\n\t\tCONTEXT_SUB_TYPE_CODE as string,\n\t\tCONTEXT_SUB_TYPE_DESC as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMCONTEXTSUBTYPE\nsource(output(\n\t\tCOURSE_SR_KEY as integer,\n\t\tCOURSE_NAME as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMCOURSE\nsource(output(\n\t\tCOUNTRY_SR_KEY as integer,\n\t\tCOUNTRY_CODE as string,\n\t\tCOUNTRY_NAME_EN as string,\n\t\tCOUNTRY_NAME_ES as string,\n\t\tCOUNTRY_NAME_FR as string,\n\t\tISO2_CODE as string,\n\t\tISO3_CODE as string,\n\t\tLEAST_DEVELPED_COUNTRY as string,\n\t\tLAND_LCKD_DEVELOPING_COUNTRY as string,\n\t\tSMALL_ISLAND_DEVELOPING_STATES as string,\n\t\tDEVELOPED_DEVELOPING_COUNTRY as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMCOUNTRY\nsource(output(\n\t\tENTITY_SIZE_GROUP_SR_KEY as integer,\n\t\tENTITY_SIZE_GROUP_CODE as string,\n\t\tENTITY_SIZE_GROUP_DESC as string,\n\t\tLOWER_SZIE_LIMIT as integer,\n\t\tHIGHER_SIZE_LIMIT as integer,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMENTITYSIZEGROUP\nsource(output(\n\t\tENTITY_SR_KEY as integer,\n\t\tENTITY_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tENTITY_NAME as string,\n\t\tENTITY_EMAIL_DOMAIN_NAME as string,\n\t\tADDRESS as string,\n\t\tCITY as string,\n\t\tREGION as string,\n\t\tPHONE_NUMBER as string,\n\t\tWEBSITE as string,\n\t\tTWITTER as string,\n\t\tLINKEDIN as string,\n\t\tBSO_OWNERSHIP as string,\n\t\tPOST_CODE as string,\n\t\tPOBOX as string,\n\t\tCITY_REGION as string,\n\t\tCATEGORY as string,\n\t\tCONFIDENTIAL as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tOTHER_EMAILS as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_INFORMATION as string,\n\t\tMAILING_ADDRESS_STREET1 as string,\n\t\tMAILING_ADDRESS_STREET2 as string,\n\t\tMAILING_ADDRESS_CITY as string,\n\t\tMAILING_STATE_PROVICE as string,\n\t\tMAILING_POST_CODE as string,\n\t\tMAILING_COUNTRY as string,\n\t\tMAILING_FORMAT_UN as string,\n\t\tFIRM_ID as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMENTITY\nsource(output(\n\t\tENTITY_SUB_TYPE_SR_KEY as integer,\n\t\tENTITY_TYPE_CODE as string,\n\t\tENTITY_TYPE_DESC as string,\n\t\tENTITY_SUB_TYPE_CODE as string,\n\t\tENTITY_SUB_TYPE_DESC as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMENTITYSUBTYPE\nsource(output(\n\t\tENTITY_TYPE_SR_KEY as integer,\n\t\tENTITY_TYPE_CODE as string,\n\t\tENTITY_TYPE_DESC as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMENTITYTYPE\nsource(output(\n\t\tGENDER_SR_KEY as integer,\n\t\tGENDER_CODE as string,\n\t\tGENDER_DESC as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMGENDER\nsource(output(\n\t\tPLATFORM_TYPE_SR_KEY as integer,\n\t\tPLATFORM_TYPE_CODE as string,\n\t\tPLATFORM_TYPE_DESC as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMPLATFORMTYPE\nsource(output(\n\t\tPROFESSIONAL_STATUS_SR_KEY as integer,\n\t\tPROFESSIONAL_STATUS_DESC as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMPROFESSIONALSTATUS\nsource(output(\n\t\tPROJECT_SR_KEY as integer,\n\t\tPROJECT_ID as string,\n\t\tPROJECT_TITLE as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMPROJECT\nsource(output(\n\t\tSERVICE_THEME_SR_KEY as integer,\n\t\tSERVICE_THERE_CODE as string,\n\t\tSERVICE_THEME_DESC as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMSERVICETHEME\nsource(output(\n\t\tDATA_SOURCE_SR_KEY as integer,\n\t\tDATA_SOURCE_NAME as string,\n\t\tBATCH_ID as integer,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMSOURCE\nsource(output(\n\t\tAGE_GROUP_SR_KEY as integer,\n\t\tAGE_GROUP_CODE as string,\n\t\tAGE_GROUP_DESC as string,\n\t\tLOWER_AGE_LIMIT as integer,\n\t\tHIGHER_AGE_LIMIT as integer,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMAGEGROUP\nsource(output(\n\t\tPARTICIPANT_SR_KEY as integer,\n\t\tPARTICIPANT_ID as integer,\n\t\tVERSION_NO as integer,\n\t\tEMAIL as string,\n\t\tLAST_NAME as string,\n\t\tMIDDLE_NAME as string,\n\t\tFIRST_NAME as string,\n\t\tGENDER as string,\n\t\tYEAR_OF_BIRTH as integer,\n\t\tNATIONALITY as string,\n\t\tJOB_TITLE as string,\n\t\tADDRESS as string,\n\t\tID as string,\n\t\tUSERNAME as string,\n\t\tHOWLONG as string,\n\t\tPRIOR_EXPERIENCE as string,\n\t\tSALUTATION as string,\n\t\tCITY_NAME as string,\n\t\tPOBOX as string,\n\t\tPOST_CODE as string,\n\t\tSKYPE as string,\n\t\tAIM as string,\n\t\tYahoo as string,\n\t\tMSN as string,\n\t\tCITY_REGION as string,\n\t\tOTHER_INFORMATION as string,\n\t\tOTHER_PHONE_NUMBERS as string,\n\t\tOTHER_EMAILS as string,\n\t\tSOCIAL_MEDIA as string,\n\t\tPREFERRED_LANGUAGE as string,\n\t\tCONFIDENTIAL as string,\n\t\tPHONE_NUMBER as string,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DIMPARTICIPANT\nDIMAREAOFCHANGE select(mapColumn(\n\t\tAREA_OF_CHANGE_SR_KEY,\n\t\tAREA_OF_CHANGE_CODE,\n\t\tAREA_OF_CHANGE_DESC\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectAREAOFCHANGE\nSRCSME, SelectAREAOFCHANGE lookup(upper(trim({Area of change})) == upper(trim(AREA_OF_CHANGE_DESC)),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookUpAreaofChange\nDIMDATE select(mapColumn(\n\t\tCERTIFICATION_DATE_SR_KEY = DATE_SR_KEY,\n\t\tDATE_TIME\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectCertificationDate\nLookUpAreaofChange, SelectCertificationDate lookup(toDate(Certification_date, 'MM/DD/YYYY') == toDate(toString(DATE_TIME),'MM/DD/YYYY'),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookUpDimDate\nDIMCONTEXTSUBTYPE select(mapColumn(\n\t\tCONTEXT_SUB_TYPE_SR_KEY,\n\t\tCONTEXT_TYPE_CODE,\n\t\tCONTEXT_TYPE_DESC\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectContextSubType\nLookUpDimDate, SelectContextSubType lookup(upper(trim(Context)) == upper(trim(CONTEXT_TYPE_DESC)),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupContextSubType\nDIMCOURSE select(mapColumn(\n\t\tCOURSE_SR_KEY,\n\t\tCOURSE_NAME\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectCourse\nLookupContextSubType, SelectCourse lookup(upper(trim(SRCSME@Course_name)) == upper(trim(SelectCourse@COURSE_NAME)),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupCourseName\nDIMDATE select(mapColumn(\n\t\tDATE_COLLECTION_DATE_SR_KEY = DATE_SR_KEY,\n\t\tDATE_TIME\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectDateofDataCollection\nDIMDATE select(mapColumn(\n\t\tDATE_OF_BIRTH_SR_KEY = DATE_SR_KEY,\n\t\tDATE_TIME\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectDateOfBirth\nDIMDATE select(mapColumn(\n\t\tENROLL_DATE_SR_KEY = DATE_SR_KEY,\n\t\tDATE_TIME\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectEnrollDate\nLookupCourseName, SelectEnrollDate lookup(toDate(Enrol_time,'MM/DD/YYYY') == \r\ntoDate(toString(SelectEnrollDate@DATE_TIME),'MM/DD/YYYY'),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupEnrollDate\nDIMCOUNTRY select(mapColumn(\n\t\tENTITY_COUNTRY_SR_KEY = COUNTRY_SR_KEY,\n\t\tCOUNTRY_NAME_EN,\n\t\tCOUNTRY_CODE\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectEntityCountry\nLookupEnrollDate, SelectEntityCountry lookup(upper(trim(Country)) == upper(trim(COUNTRY_NAME_EN)),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupEntityCountry\nDIMENTITYSIZEGROUP select(mapColumn(\n\t\tENTITY_SIZE_GROUP_SR_KEY,\n\t\tENTITY_SIZE_GROUP_CODE,\n\t\tENTITY_SIZE_GROUP_DESC\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectEntitySize\nLookupEntityCountry, SelectEntitySize lookup(upper(trim(Size)) == upper(trim(ENTITY_SIZE_GROUP_DESC)),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupEntitySize\nDIMENTITY select(mapColumn(\n\t\tENTITY_SR_KEY,\n\t\tENTITY_ID,\n\t\tENTITY_NAME\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectDimEntity\nLookupEntitySize, SelectDimEntity lookup(upper(trim({Organization/ Company name})) == upper(trim(ENTITY_NAME)),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupEntityname\nDIMENTITYSUBTYPE select(mapColumn(\n\t\tENTITY_SUB_TYPE_SR_KEY,\n\t\tENTITY_SUB_TYPE_DESC,\n\t\tENTITY_SUB_TYPE_CODE\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectEntitySubType\nLookupEntityname, SelectEntitySubType lookup(upper(trim({Sub-type of entity})) == upper(trim(ENTITY_SUB_TYPE_DESC))\n\t&& upper(trim({Type of entity})) == upper(trim(ENTITY_SUB_TYPE_DESC)),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupEntitySubType\nDIMENTITYTYPE select(mapColumn(\n\t\tENTITY_TYPE_SR_KEY,\n\t\tENTITY_TYPE_CODE,\n\t\tENTITY_TYPE_DESC\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectEntityType\nLookupEntitySubType, SelectEntityType lookup(upper(trim({Type of entity})) == upper(trim(ENTITY_TYPE_DESC)),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupEntityType\nDIMGENDER select(mapColumn(\n\t\tGENDER_SR_KEY,\n\t\tGENDER_CODE,\n\t\tGENDER_DESC\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectGender\nLookupEntityType, SelectGender lookup(upper(trim(Gender)) == upper(trim(GENDER_DESC)),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupGender\nDIMCOUNTRY select(mapColumn(\n\t\tPARTICIPANT_HOME_COUNTRY_SR_KEY = COUNTRY_SR_KEY,\n\t\tCOUNTRY_CODE,\n\t\tCOUNTRY_NAME_EN\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectHomeCountry\nLookupGender, SelectHomeCountry lookup(upper(trim(Country)) == upper(trim(SelectHomeCountry@COUNTRY_NAME_EN)),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupHomeCountry\nDIMPLATFORMTYPE select(mapColumn(\n\t\tPLATFORM_TYPE_SR_KEY,\n\t\tPLATFORM_TYPE_CODE,\n\t\tPLATFORM_TYPE_DESC\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectPlatformType\nLookupHomeCountry, SelectPlatformType lookup(upper(trim({Type of tool})) == upper(trim(PLATFORM_TYPE_DESC)),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupPlatformType\nDIMPROFESSIONALSTATUS select(mapColumn(\n\t\tPROFESSIONAL_STATUS_SR_KEY,\n\t\tPROFESSIONAL_STATUS_DESC\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectProfessionalStatus\nLookupPlatformType, SelectProfessionalStatus lookup(upper(trim({Professional status})) == upper(trim(PROFESSIONAL_STATUS_DESC)),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupProfessionalStatus\nDIMPROJECT select(mapColumn(\n\t\tPROJECT_SR_KEY,\n\t\tPROJECT_ID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectProject\nLookupProfessionalStatus, SelectProject lookup(upper(trim(ProjectID)) == upper(trim(PROJECT_ID)),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupProjectID\nDIMSERVICETHEME select(mapColumn(\n\t\tSERVICE_THEME1_SR_KEY = SERVICE_THEME_SR_KEY,\n\t\tSERVICE_THERE_CODE,\n\t\tSERVICE_THEME_DESC\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectServiceTheme\nLookupProjectID, SelectServiceTheme lookup(upper(trim({Service themes})) == upper(trim(SERVICE_THEME_DESC))\n\t&& upper(trim({Service theme})) == upper(trim(SERVICE_THEME_DESC)),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupServiceTheme\nLookupServiceTheme, SelectDateofDataCollection lookup(toDate({Date of data collection},'MM/DD/YYYY') == \r\ntoDate(toString(SelectDateofDataCollection@DATE_TIME),'MM/DD/YYYY'),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupDateCollection\nLookupAGELIMIT, SelectDateOfBirth lookup(toDate('01/01/'+toString({Year of birth}),'DD/MM/YYYY') == \r\ntoDate(toString(SelectDateOfBirth@DATE_TIME),'DD/MM/YYYY'),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupDateOfBirth\nDIMSOURCE select(mapColumn(\n\t\tSOURCE_SR_KEY = DATA_SOURCE_SR_KEY,\n\t\tDATA_SOURCE_NAME\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectSourceFileName\nLookupDateOfBirth, SelectSourceFileName lookup(upper(trim(FILE_NAME)) == upper(trim(DATA_SOURCE_NAME)),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupSourceFileName\nDIMAGEGROUP select(mapColumn(\n\t\tAGE_GROUP_SR_KEY,\n\t\tAGE_GROUP_CODE,\n\t\tLOWER_AGE_LIMIT,\n\t\tHIGHER_AGE_LIMIT\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectAGELIMIT\nLookupDateCollection, SelectAGELIMIT lookup(minus(year(toDate({Date of data collection}, 'MM/DD/YYYY')),year(toDate({Year of birth},'MM/DD/YYYY'))) >= LOWER_AGE_LIMIT\n\t&& minus(year(toDate({Date of data collection}, 'MM/DD/YYYY')),year(toDate({Year of birth},'MM/DD/YYYY'))) <= HIGHER_AGE_LIMIT,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'left')~> LookupAGELIMIT\nDIMPARTICIPANT select(mapColumn(\n\t\tPARTICIPANT_SR_KEY,\n\t\tPARTICIPANT_ID,\n\t\tEMAIL,\n\t\tLAST_NAME,\n\t\tFIRST_NAME,\n\t\tGENDER,\n\t\tYEAR_OF_BIRTH\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectUniqueParticipant\nLookupSourceFileName, SelectUniqueParticipant lookup(coalesce(SRCSME@Email,concat({First name},{Last name},SRCSME@Gender,toString({Year of birth}))) == coalesce(SelectUniqueParticipant@EMAIL,concat(FIRST_NAME,LAST_NAME,SelectUniqueParticipant@GENDER,toString(YEAR_OF_BIRTH))),\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupUniqueParticipant\nLookupUniqueParticipant derive(CERTIFIED_FLAG = case(\r\n    Certified == \"Yes\",'Y',\r\n    Certified == 'No','N'\r\n),\n\t\tBATCH_ID = 1,\n\t\tCREATED_BY = FILE_NAME,\n\t\tUPDATED_BY = FILE_NAME,\n\t\tDATE_CREATED = currentDate(),\n\t\tDATE_UPDATED = currentDate()) ~> runinfo\nruninfo sink(input(\n\t\tPROJECT_SR_KEY as integer,\n\t\tCONTEXT_SUB_TYPE_SR_KEY as integer,\n\t\tEVENT_TYPE_SR_KEY as integer,\n\t\tTRAINING_TYPE_SR_KEY as integer,\n\t\tPLATFORM_TYPE_SR_KEY as integer,\n\t\tPARTICIPANT_SR_KEY as integer,\n\t\tDATE_COLLECTION_DATE_SR_KEY as integer,\n\t\tSUBMISSON_DATE_SR_KEY as integer,\n\t\tGENDER_SR_KEY as integer,\n\t\tDATE_OF_BIRTH_SR_KEY as integer,\n\t\tDATE_OF_BIRTH2_SR_KEY as integer,\n\t\tPARTICIPANT_HOME_COUNTRY_SR_KEY as integer,\n\t\tENTITY_SR_KEY as integer,\n\t\tPROFESSIONAL_STATUS_SR_KEY as integer,\n\t\tENTITY_TYPE_SR_KEY as integer,\n\t\tENTITY_SUB_TYPE_SR_KEY as integer,\n\t\tENTITY_COUNTRY_SR_KEY as integer,\n\t\tSOURCE_SR_KEY as integer,\n\t\tENTITY_SIZE_GROUP_SR_KEY as integer,\n\t\tCOURSE_SR_KEY as integer,\n\t\tAREA_OF_CHANGE_SR_KEY as integer,\n\t\tSERVICE_THEME1_SR_KEY as integer,\n\t\tSERVICE_THEME2_SR_KEY as integer,\n\t\tHS_CODE_SR_KEY as integer,\n\t\tINT_STD_INDUSTRY_CODES_ISIC_SR_KEY as integer,\n\t\tTOP_MANAGER_GENDER_SR_KEY as integer,\n\t\tTOP_MANAGER_AGE_GROUP_KEY as integer,\n\t\tAGE_GROUP_SR_KEY as integer,\n\t\tCERTIFICATION_DATE_SR_KEY as integer,\n\t\tCERTIFIED_FLAG as integer,\n\t\tENROLL_DATE_SR_KEY as integer,\n\t\tYOUTH_MANAGED_FLAG as integer,\n\t\tWOMAN_MANAGED_FLAG as integer,\n\t\tBATCH_ID as integer,\n\t\tSOURCE as string,\n\t\tCREATED_BY as string,\n\t\tUPDATED_BY as string,\n\t\tDATE_CREATED as timestamp,\n\t\tDATE_UPDATED as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tPROJECT_SR_KEY,\n\t\tCONTEXT_SUB_TYPE_SR_KEY,\n\t\tPLATFORM_TYPE_SR_KEY,\n\t\tPARTICIPANT_SR_KEY,\n\t\tDATE_COLLECTION_DATE_SR_KEY,\n\t\tGENDER_SR_KEY,\n\t\tDATE_OF_BIRTH_SR_KEY,\n\t\tPARTICIPANT_HOME_COUNTRY_SR_KEY,\n\t\tENTITY_SR_KEY,\n\t\tPROFESSIONAL_STATUS_SR_KEY,\n\t\tENTITY_TYPE_SR_KEY,\n\t\tENTITY_SUB_TYPE_SR_KEY,\n\t\tENTITY_COUNTRY_SR_KEY,\n\t\tSOURCE_SR_KEY,\n\t\tENTITY_SIZE_GROUP_SR_KEY,\n\t\tCOURSE_SR_KEY,\n\t\tAREA_OF_CHANGE_SR_KEY,\n\t\tSERVICE_THEME1_SR_KEY,\n\t\tAGE_GROUP_SR_KEY,\n\t\tCERTIFICATION_DATE_SR_KEY,\n\t\tCERTIFIED_FLAG,\n\t\tENROLL_DATE_SR_KEY,\n\t\tBATCH_ID,\n\t\tCREATED_BY,\n\t\tUPDATED_BY,\n\t\tDATE_CREATED,\n\t\tDATE_UPDATED\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> FACTPROJECTEVENTSINDIVIDUAL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_SME_STAGE_DWH')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "StageToCurated"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Stage_SME",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DWH_SME",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "parameters{\n\tfilename as string\n}\nsource(output(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of tool} as string,\n\t\t{Area of change} as string,\n\t\t{Service themes} as string,\n\t\t{Date of data collection} as string,\n\t\tid as string,\n\t\tCourse_name as string,\n\t\tUsername as string,\n\t\tEmail as string,\n\t\t{Phone number} as string,\n\t\tTitle as string,\n\t\t{First name} as string,\n\t\t{Middle name} as string,\n\t\t{Last name} as string,\n\t\tidnumber as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\t{Organization/ Company name} as string,\n\t\t{Type of entity} as string,\n\t\t{Sub-type of entity} as string,\n\t\t{Professional status} as string,\n\t\tFunctional_title as string,\n\t\tHowlong as string,\n\t\tPriorexperience as string,\n\t\tAddress as string,\n\t\tCityname as string,\n\t\tCountry as string,\n\t\t{Country code} as string,\n\t\tPobox as string,\n\t\tPostalcode as string,\n\t\tNationality as string,\n\t\tSkype as string,\n\t\tAim as string,\n\t\tYahoo as string,\n\t\tMsn as string,\n\t\tProfile_field_Supervisor as string,\n\t\t{Service theme} as string,\n\t\tCityregion as string,\n\t\t{Job title} as string,\n\t\tSize as string,\n\t\tCertification_date as string,\n\t\tCertified as string,\n\t\tCohort as string,\n\t\tUniqueid as string,\n\t\tUser_id as string,\n\t\tEnrol_time as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> source1\nsource1 derive(Priorexperience = replace(Priorexperience,'N/A',''),\n\t\tCertification_date = iif(isNull(toDate(Certification_date,'yyyy-mm-dd')),'',Certification_date),\n\t\tfilename = 'SME/'+replace($filename, '.csv', '_'+toString(currentTimestamp(),'YYYYMMdd_HHmmss')+'.csv')) ~> DerivedColumn1\nDerivedColumn1 sink(input(\n\t\tProjectID as string,\n\t\tContext as string,\n\t\t{Type of tool} as string,\n\t\t{Area of change} as string,\n\t\t{Service themes} as string,\n\t\t{Date of data collection} as string,\n\t\tid as string,\n\t\tCourse_name as string,\n\t\tUsername as string,\n\t\tEmail as string,\n\t\t{Phone number} as string,\n\t\tTitle as string,\n\t\t{First name} as string,\n\t\t{Middle name} as string,\n\t\t{Last name} as string,\n\t\tidnumber as string,\n\t\tGender as string,\n\t\t{Year of birth} as string,\n\t\t{Organization/ Company name} as string,\n\t\t{Type of entity} as string,\n\t\t{Sub-type of entity} as string,\n\t\t{Professional status} as string,\n\t\tFunctional_title as string,\n\t\tHowlong as string,\n\t\tPriorexperience as string,\n\t\tAddress as string,\n\t\tCityname as string,\n\t\tCountry as string,\n\t\t{Country code} as string,\n\t\tPobox as string,\n\t\tPostalcode as string,\n\t\tNationality as string,\n\t\tSkype as string,\n\t\tAim as string,\n\t\tYahoo as string,\n\t\tMsn as string,\n\t\tProfile_field_Supervisor as string,\n\t\t{Service theme} as string,\n\t\tCityregion as string,\n\t\t{Job title} as string,\n\t\tSize as string,\n\t\tCertification_date as string,\n\t\tCertified as string,\n\t\tCohort as string,\n\t\tUniqueid as string,\n\t\tUser_id as string,\n\t\tEnrol_time as string,\n\t\tFILE_NAME as string,\n\t\tLOAD_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\trowUrlColumn:'filename') ~> sink1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_SALES_DWH_MART')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AllSALESToOneFile",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@variables('FolderName')",
										"type": "Expression"
									},
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SRC_SSUPERSET",
								"type": "DatasetReference",
								"parameters": {
									"filename": "*.*",
									"FolderName": {
										"value": "@variables('FolderName')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "TGT_SALES_KPI",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DF_SALES_DIM_ENTITY",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "AllSALESToOneFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_SALES_DIM_ENTITY",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SRCSALES": {},
									"ExistingDim": {},
									"ExistingDimMaxID": {},
									"UpdateDIMENTITY": {},
									"InsertDIMENTITY": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "DF_SALES_FACT_ENTITY_BUSINESS_TRANSACTIONS",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_SALES_DIM_ENTITY",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_SALES_FACT_ENTITY_BUSINESS_TRANSACTIONS",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SRCSALES": {},
									"DIMCONTEXTSUBTYPE": {},
									"DIMCOUNTRY": {},
									"DIMENTITY": {},
									"DIMEVENTTYPE": {},
									"DIMPROJECT": {},
									"DIMDATE": {},
									"FACTENTITYBUSINESSTRANSACTIONS": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"variables": {
					"FolderName": {
						"type": "String",
						"defaultValue": "SALES_KPI"
					}
				},
				"folder": {
					"name": "CuratedToMart"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_SALES_KPI_SCR_DATALAKEg')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Sales files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "RAW_DATA",
								"type": "DatasetReference",
								"parameters": {
									"folderName": "SALES_KPI",
									"fileName": "*.csv"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter Dir",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Sales files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Sales files').output.childitems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type,'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Each Sales file",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter Dir",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter Dir').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy Sales SRC To Stage",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "FILE_NAME",
													"value": {
														"value": "@item().name",
														"type": "Expression"
													}
												},
												{
													"name": "LOAD_TIMESTAMP",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": "SALES_KPI",
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Stage_SALES_KPI",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "DF_SALES_STAGE_DWH",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Copy Sales SRC To Stage",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DF_SALES_STAGE_DWH",
											"type": "DataFlowReference",
											"parameters": {
												"filename": {
													"value": "'@{item().name}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"source1": {},
												"sink1": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										}
									}
								},
								{
									"name": "Copy Failed Files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy Sales SRC To Stage",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": "SALES_KPI",
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": {
													"value": "@variables('V_FAILED_PATH')",
													"type": "Expression"
												},
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete failed files",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Failed Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": "SALES_KPI",
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Copy Loaded files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "DF_SALES_STAGE_DWH",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": "SALES_KPI",
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": {
													"value": "@variables('V_LOADED_PATH')",
													"type": "Expression"
												},
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Copy Failed Files_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "DF_SALES_STAGE_DWH",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": "SALES_KPI",
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": {
													"value": "@variables('V_FAILED_PATH')",
													"type": "Expression"
												},
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete loaded files",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Loaded files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": "SALES_KPI",
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Delete Failed Files from SRC",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Failed Files_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": "SALES_KPI",
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					}
				],
				"variables": {
					"V_FAILED_PATH": {
						"type": "String",
						"defaultValue": "SALES_KPI/FAILED"
					},
					"V_LOADED_PATH": {
						"type": "String",
						"defaultValue": "SALES_KPI/LOADED"
					}
				},
				"folder": {
					"name": "LandingToCurated"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_SME_DWH_MART')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AllSMEToOneFile",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": {
										"value": "@variables('FolderName')",
										"type": "Expression"
									},
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SRC_SSUPERSET",
								"type": "DatasetReference",
								"parameters": {
									"filename": "*.*",
									"FolderName": {
										"value": "@variables('FolderName')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "TGT_SME",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DF_SME_DIM_ENTITY",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "AllSMEToOneFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_SME_DIM_ENTITY",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SRCSME": {},
									"ExistingDim": {},
									"ExistingDimMaxID": {},
									"DIMEntity": {},
									"UpdDimEntity": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "DF_SME_DIM_COURSE",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "AllSMEToOneFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_SME_DIM_COURSE",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"allsmefiles": {},
									"source1": {},
									"dimcourse": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "DF_SME_DIM_PARTICIPANT",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "AllSMEToOneFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_SME_DIM_PARTICIPANT",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SRCSME": {},
									"ExistingDim": {},
									"ExistingDimMaxPartcipantID": {},
									"InsertDimParticipant": {},
									"UpdateDimParticipant": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "DF_SME_FACT_PROJECT_EVENTS_INDIVIDUAL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_SME_DIM_ENTITY",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "DF_SME_DIM_COURSE",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "DF_SME_DIM_PARTICIPANT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_SME_FACT_PROJECT_EVENTS_INDIVIDUAL",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SRCSME": {},
									"DIMAREAOFCHANGE": {},
									"DIMDATE": {},
									"DIMCONTEXTSUBTYPE": {},
									"DIMCOURSE": {},
									"DIMCOUNTRY": {},
									"DIMENTITYSIZEGROUP": {},
									"DIMENTITY": {},
									"DIMENTITYSUBTYPE": {},
									"DIMENTITYTYPE": {},
									"DIMGENDER": {},
									"DIMPLATFORMTYPE": {},
									"DIMPROFESSIONALSTATUS": {},
									"DIMPROJECT": {},
									"DIMSERVICETHEME": {},
									"DIMSOURCE": {},
									"DIMAGEGROUP": {},
									"DIMPARTICIPANT": {},
									"FACTPROJECTEVENTSINDIVIDUAL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"variables": {
					"FolderName": {
						"type": "String",
						"defaultValue": "SME"
					}
				},
				"folder": {
					"name": "CuratedToMart"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_SME_FACT_PROJECT_EVENTS_INDIVIDUAL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_SME_SCR_DATALAKEg')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get SME files",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "RAW_DATA",
								"type": "DatasetReference",
								"parameters": {
									"folderName": "SME",
									"fileName": "*.csv"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "filter dir",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get SME files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get SME files').output.childitems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().type,'File')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Each SME file",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "filter dir",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('filter dir').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy SME SRC To STAGE",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "FILE_NAME",
													"value": {
														"value": "@item().name",
														"type": "Expression"
													}
												},
												{
													"name": "LOAD_TIMESTAMP",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": "SME",
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Stage_SME",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "stage_dwh",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Copy SME SRC To STAGE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "DF_SME_STAGE_DWH",
											"type": "DataFlowReference",
											"parameters": {
												"filename": {
													"value": "'@{item().name}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"source1": {},
												"sink1": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										}
									}
								},
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy SME SRC To STAGE",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": "SME",
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": {
													"value": "@variables('V_FAILED_PATH')",
													"type": "Expression"
												},
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete failed files",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy data1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": "SME",
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Copy Loaded files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "stage_dwh",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": "SME",
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": {
													"value": "@variables('V_LOADED_PATH')",
													"type": "Expression"
												},
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Copy Failed Files",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "stage_dwh",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": "SME",
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": {
													"value": "@variables('V_FAILED_PATH')",
													"type": "Expression"
												},
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Delete loaded files",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Loaded files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": "SME",
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "Delete Failed Files from SRC",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy Failed Files",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "RAW_DATA",
											"type": "DatasetReference",
											"parameters": {
												"folderName": "SME",
												"fileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobFSReadSettings",
											"recursive": true
										}
									}
								}
							]
						}
					}
				],
				"variables": {
					"V_LOADED_PATH": {
						"type": "String",
						"defaultValue": "SME/LOADED"
					},
					"V_FAILED_PATH": {
						"type": "String",
						"defaultValue": "SME/FAILED"
					}
				},
				"folder": {
					"name": "LandingToCurated"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_SME_STAGE_DWH')]"
			]
		}
	]
}